.card-component {
  background-color: #fff;
  border-radius: 4px;
  transform: translate(0, 0);
  transition: transform .2s;
  &>.title {
    border-bottom: 1px solid #f8f8f8;
    padding: 10px;
  }
  &>.content {
    padding: 10px;
    min-height: 160px;
  }

}