@import "./app.scss";
@import "https://at.alicdn.com/t/font_2455325_i7itkx4v9yr.css";
@import "https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "highlight.js/scss/a11y-light.scss";
@import "./bytemd.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1,h2,h3,h4 {
  font-size: 1em;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



